server/toolShare/__pycache__/__init__.cpython-311.pyc
server/toolShare/__pycache__/apps.cpython-311.pyc
server/toolShare/__pycache__/models.cpython-311.pyc
server/toolShare/__pycache__/admin.cpython-311.pyc
server/toolShare/__pycache__/urls.cpython-311.pyc
server/toolShare/__pycache__/views.cpython-311.pyc
server/toolShare/__pycache__/__init__.cpython-311.pyc
server/toolShare/__pycache__/admin.cpython-311.pyc
server/toolShare/__pycache__/apps.cpython-311.pyc
server/toolShare/__pycache__/models.cpython-311.pyc
server/toolShare/__pycache__/urls.cpython-311.pyc
server/toolShare/__pycache__/views.cpython-311.pyc
server/toolShare/__pycache__/__init__.cpython-311.pyc
server/toolShare/__pycache__/admin.cpython-311.pyc
server/toolShare/__pycache__/apps.cpython-311.pyc
server/toolShare/__pycache__/models.cpython-311.pyc
server/toolShare/__pycache__/urls.cpython-311.pyc
server/toolShare/__pycache__/views.cpython-311.pyc
server/toolShare/migrations/__pycache__/__init__.cpython-311.pyc
server/toolShare/migrations/__pycache__/0001_initial.cpython-311.pyc
server/toolShare/migrations/__pycache__/0002_order.cpython-311.pyc
server/toolShare/migrations/__pycache__/0003_remove_customuser_nooflisteditems.cpython-311.pyc
server/toolShare/migrations/__pycache__/0004_item_status.cpython-311.pyc
server/toolShare/migrations/__pycache__/0005_auto_20230612_2042.cpython-311.pyc
server/toolShare/migrations/__pycache__/0006_item_availability.cpython-311.pyc
server/toolShare/migrations/__pycache__/0007_auto_20230613_2311.cpython-311.pyc
server/toolShare/migrations/__pycache__/0008_remove_item_status.cpython-311.pyc
server/toolSharing/__pycache__/__init__.cpython-311.pyc
server/toolSharing/__pycache__/settings.cpython-311.pyc
server/toolSharing/__pycache__/urls.cpython-311.pyc
server/toolSharing/__pycache__/wsgi.cpython-311.pyc
client/node_modules
client/.next
